@use "@/styles/mixins";

.container {
  border-radius: 12px;
  background: var(--color-gray-400);
  padding: 12px 8px;
  width: 272px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 6px;
  &-title {
    @include mixins.baseTitle("extrabold-15");
    padding: 0 8px;
  }
}
