@mixin listReset {
  list-style: none;
  appearance: none;
  padding: 0;
  margin: 0;
}

@mixin inputReset {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
