@use "@/styles/mixins";

.screen {
  &-full {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.page {
  max-width: 100%;
  &-title {
    text-align: center;
    color: var(--color-white);
    margin: 0 auto;
    @include mixins.baseTitle("extrabold-32");
    @include mixins.breakpoint-min("tablet") {
      @include mixins.baseTitle("extrabold-40");
    }
  }
  &-text {
    text-align: center;
    color: var(--color-white);
    @include mixins.baseTitle("extrabold-15");
  }
  &-image {
    max-width: min(720px, 100%);
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    margin: 0 auto;

    &-wrapper {
      position: relative;
    }

    &-phone {
      @include mixins.breakpoint-min("tablet") {
        position: absolute;
        right: 15vw;
        bottom: -10vh;
        max-width: 200px;
      }
    }
  }

  &__wrapper {
    max-width: 600px;
    margin: 0 auto;
    @include mixins.flexbox($direction: column);
    gap: 24px;
  }
}
