@use "@/styles/mixins";

.board__wrapper {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  flex: 1 1 0%;
  &-header {
    backdrop-filter: blur(4px);
    background: #0000003d;
    padding: 16px 12px;

    &-title {
      @include mixins.baseTitle("extrabold-18");
    }
  }

  &-content {
    flex: 1 1 0%;
  }

  &-columns {
    padding: 16px 12px;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    flex: 1 1 0%;

    &::-webkit-scrollbar {
      display: none;
      background: transparent;
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
  }
}
