@use "@/styles/mixins";

.header {
  color: var(--color-white);
  $xSpacing: 12px;
  $ySpacing: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixins.breakpoint-min("tablet") {
    $xSpacing: 24px;
    $ySpacing: 16px;
  }
  @include mixins.baseTitle("extrabold-18");
  padding: $ySpacing $xSpacing;

  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
