@use "@/styles/mixins";

.base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0 12px;
  column-gap: 6px;
  max-width: 300px;
  border-radius: 12px;
  color: var(--color-white);
  background: var(--color-gray);
  border: 1px solid var(--color-light-gray);

  &:focus-within {
    border: 1px solid var(--color-dark-gray);
  }
}

.input {
  @include mixins.inputReset();
  @include mixins.baseText("semibold-15");

  width: 100%;
  color: var(--color-white);

  &::placeholder {
    @include mixins.baseText("medium-15");
    color: var(--color-placeholder);
  }
}

.statuses {
  &_error {
    color: var(--color-red);
    border: 1px solid rgba(255, 71, 87, 0.5);

    &:focus-within {
      border: 1px solid var(--color-red);
    }
  }
}
