@use "@/styles/mixins";

.wrapper {
  $xSpacing: 12px;
  $ySpacing: 16px;

  margin: $ySpacing $xSpacing;

  color: var(--color-white);

  &-text {
    @include mixins.baseTitle("extrabold-15");
  }
  &-image {
    max-width: 560px;
  }
  &-title {
    @include mixins.baseTitle("extrabold-20");
  }
  @include mixins.flexbox($direction: column);
  gap: 8px;
  &-page-title {
    @include mixins.baseTitle("extrabold-32");
  }

  &__board_container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-grid {
      display: grid;
      gap: 8px 4px;
      $columns: 1;
      @include mixins.breakpoint-min("tablet") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include mixins.breakpoint-min("xga") {
        grid-template-columns: repeat(4, 1fr);
      }
      @include mixins.breakpoint-min("wxga") {
        grid-template-columns: repeat(6, 1fr);
      }

      @include mixins.breakpoint-min("wxgaPlus") {
        grid-template-columns: repeat(8, 1fr);
      }
    }
  }
}
