@use "@/styles/mixins";

.base {
  display: flex;
  column-gap: 6px;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  transition: all 0.15s ease-in-out;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.themes {
  &_primary {
    @include mixins.baseText("semibold-15");

    padding: 8px 12px;
    border-radius: 12px;
    color: var(--color-white);
    background: var(--color-blue);

    &:hover {
      background: var(--color-blue-hover);
    }
  }

  &_secondary {
    @include mixins.baseText("semibold-15");

    font-weight: 700;
    padding: 8px 12px;
    background: var(--color-gray-500);
    border-radius: 12px;
    color: var(--color-white);

    &:hover {
      background: var(--color-gray-500-hover);
    }

    &_selected {
      color: var(--color-white);
    }
  }
}
