@use "@/styles/mixins";

.form {
  display: grid;
  gap: 8px;
  color: var(--color-white);

  &-title {
    @include mixins.baseTitle("extrabold-18");
    color: var(--color-white);
    text-align: center;
    margin-bottom: 6px;
  }

  &-text {
    @include mixins.baseText("semibold-13");
    color: var(--color-white);
    text-align: center;
  }

  &-link {
    color: var(--color-blue);
    cursor: pointer;
  }

  .error {
    border-radius: 12px;
    padding: 6px 12px;
    border: 1px solid rgba(255, 71, 87, 0.5);
    color: rgba(255, 71, 87, 0.5);
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 270px;
    &-text {
      color: var(--color-white);
      @include mixins.baseText("medium-11");
    }
  }
}

.success {
  color: var(--color-white);
  &-icon {
    margin: 0 auto;
  }
  display: flex;
  flex-direction: column;
  gap: 8px;
}
