@use "@/styles/mixins";

.container {
  color: var(--color-white);
  display: flex;
  flex-direction: column;

  @include mixins.baseTitle("extrabold-18");

  gap: 8px;

  &__element {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
}
