:export {
  /* Default colors */
  --color-white: #fff;
  --color-black: #000;

  /* Primary colors */
  --color-gray: #252939;
  --color-light-gray: #565f85;
  --color-blue: #215bf0;
  --color-dark-gray: #0a0a0b;

  --color-placeholder: #cdcdcd;
}
