:export {
  /* Default colors */
  --color-white: #fff;
  --color-black: #000;

  /* Primary colors */
  --color-gray: #252939;
  --color-light-gray: #2f3e4f;
  --color-blue: #215bf0;
  --color-blue-hover: #2361fc;
  --color-dark-gray: #0a0a0b;
  --color-gray-400: #2f364f;
  --color-gray-500: #2d3245;

  /* Hover colors */
  --color-gray-500-hover: #353b52;
  --color-placeholder: #cdcdcd;
}
